<!DOCTYPE html>
<html>
    <head>
        <title>ElectoLines - Playing as <%- username%></title>
        <script type="text/javascript">
            var USERNAME = <%- username%>;
        </script>
    </head>
    <body>
        <p><%- username %></p>
    </body>
</html>